DATABASE_URL="postgresql://neondb_owner:npg_WV0NgbYU1rwM@ep-plain-salad-acyhzmd2-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
ADMIN_PASSWORD="annunz123"
ADMIN_TOKEN_SECRET="7684a43a7b1328382f5acb34a399ef18"

